<div class="grid">
    <div class="col-12">
        <div class="flex justify-content-center align-content-center text-align-center">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <p-card
                styleClass="mt-10"
                header="Login"
                subheader="Faça o login com sua conta existente!"
                *ngIf="loginCard"
                >
                <div class="flex justify-content-center align-content-center text-align-center">
                    <input type="email" pInputText placeholder="Email" formControlName="email">
                </div>
                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                    <input type="password" pInputText placeholder="Senha" formControlName="senha">
                </div>
                <div class="card flex justify-content-center mt-3">
                    <button
                    type="submit"
                    pButton
                    pRipple
                    label="Login"
                    [disabled]="!loginForm.valid"
                    ></button>
                </div>
                <span
                class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
                style="cursor: pointer;"
                (click)="loginCard = !loginCard"
                >Criar Conta</span>
            </p-card>
            </form>

            <!--Signup-->
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                <p-card
                styleClass="mt-10"
                header="Criar Conta"
                subheader="Crie já sua conta gratuita!"
                *ngIf="!loginCard"
                >
                <div class="flex justify-content-center align-content-center text-align-center">
                    <input type="text" pInputText placeholder="Nome" formControlName="nome">
                </div>
                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                    <input type="email" pInputText placeholder="Email" formControlName="email">
                </div>
                <div class="flex justify-content-center align-content-center text-align-center mt-3">
                    <input type="password" pInputText placeholder="Senha" formControlName="senha">
                </div>
                <div class="card flex justify-content-center mt-3">
                    <button
                    type="submit"
                    pButton
                    pRipple
                    label="Criar Conta"
                    [disabled]="!signUpForm.valid"
                    ></button>
                </div>
                <span
                class="flex justify-content-center align-content-center text-align-center mt-3 text-red-600 font-semibold"
                style="cursor: pointer;"
                (click)="loginCard = !loginCard"                
                >Fazer Login</span>
            </p-card>
            </form>
        </div>
    </div>
</div>
